<div class="container contenido">
	<div class="jumbotron">
		<h1>Gestión Skamot Diabolik</h1>

		<h2>..Mejorando la gestión de la colla desde 2014.</h2>
		<a href="/users/new" class="btn btn-lg btn-success">Sign up now!</a>
	</div>
</div>