<div class='container'>
	<h1><%= user.name + ' '+ user.lastName %></h1>
	<h3><%= user.birthDate %></h3>
	<hr>
	<h3>contact: <%= user.email %></h3>

	<a class="btn btn-medium btn-primary" href="/users/edit/<%= user.id %>">Edit</a>
<div>